$theme: red;

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
form {
    border: 2px solid gray;
    padding: 20px;
    button {
        width: 100%;
        font-size: 20px;
    }
}

@if $theme==green {
    form {
        background-color: rgb(146, 227, 146);
        h3 {
            color: rgb(2, 192, 2);
        }
        button {
            background-color: rgb(18, 119, 18);
            color: white;
            border: none;
        }
    }
} @else if $theme==blue {
    form {
        background-color: rgb(161, 146, 239);
        h3 {
            color: rgb(65, 57, 150);
        }
        button {
            background-color: rgb(45, 14, 107);
            color: white;
            border: none;
        }
    }
} @else {
    form {
        background-color: rgb(255, 255, 255);
        h3 {
            color: rgb(0, 0, 0);
        }
        button {
            background-color: rgb(0, 0, 0);
            color: white;
            border: none;
        }
    }
}